.first__option {
  display: flex;
  justify-content: space-around;
}

.radio__container {
  color: var(--font-low);
}

.radio__container:hover {
  color: var(--font-normal);
}

.input:checked ~ .labelGreen {
  background-color: var(--green);
  color: #ececec;
}

.input:checked ~ .labelBlue {
  background-color: var(--blue);
  color: #ececec;
}

.label {
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  margin-left: 1rem;
  letter-spacing: 1.2px;

  padding: 0.5rem 1rem;
  border-radius: 10px;

  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}
