.container {
  margin-top: 3rem;
}

.subtitle--time {
  color: var(--blue);
  margin-bottom: 0.2rem;
}

.subtitle--category {
  color: var(--green);
  margin-bottom: 0.2rem;
}

.radio__container:hover {
  color: var(--checkbox-active);
}

.radio__container:hover .check {
  border: 0.3rem solid var(--checkbox-active);
}

.radio__container:hover .label {
  color: var(--checkbox-active);
}

.input:checked ~ label {
  color: var(--checkbox-active);
}

.input:checked ~ .check {
  border: 0.3rem solid var(--checkbox-active);
}

.input:checked ~ .check .inside {
  background-color: var(--checkbox-active);
}

.input__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.radio__container {
  flex: 1 1 40%;
}

.check {
  border: 0.3rem solid var(--checkbox-passive);
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  z-index: 5;
}

.label {
  font-size: 2rem;
  margin-left: 1rem;
  color: var(--checkbox-passive);
}
