.container {
  margin-top: 5rem;
}

.radio__container {
  display: flex;
  margin-bottom: 2rem;
  transform: translateX(1rem);
}

.radio__container > div {
  font-size: 1.5rem;
  color: var(--font-low);
}

.radio__container > div + div {
  margin-left: 5rem;
}

.check {
  background-color: var(--font-normal);
  width: 0%;
  height: 0.2rem;
  position: absolute;
  top: 100%;
  left: 3%;
}

.label {
  letter-spacing: 1.2px;
}

.input:checked ~ .label {
  color: var(--font-normal);
}

.input:checked + .check {
  width: 90%;
}

.chart__container {
  width: 85vw;
  height: 30vw;
}

.loading {
  position: relative;
}

@media screen and (max-width: 1400px) {
  .container {
    margin-top: 7rem;
  }

  .chart__container {
    height: 29vw;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    margin-top: 12rem;
  }

  .chart__container {
    width: 86vw;
    height: 35vw;

    position: relative;
  }
}
