.container {
  margin-top: 5rem;
}

.radio__container {
  display: flex;
  margin-bottom: 2rem;
  transform: translateX(1rem);
}

.radio__container > div {
  margin-right: 5rem;
  font-size: 1.5rem;
  color: var(--font-low);
}

.check {
  background-color: var(--font-normal);
  width: 0%;
  height: 0.2rem;

  position: absolute;
  top: 100%;
  left: 3%;
}

.label {
  letter-spacing: 1.2px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.input:checked ~ .label {
  color: var(--font-normal);
}

.input:checked + .check {
  width: 90%;
}

.chart__container {
  /* width: clamp(30rem, 90rem, 120rem);
  height: clamp(15rem, 45rem, 60rem); */
  width: 62vw;
  height: 31vw;
}

/* .chart {
  width: clamp(30rem, 63vw, 120rem) !important;
  /* height: 20rem !important; */

@media screen and (max-width: 1400px) {
  .container {
    margin-top: 7rem;
  }

  .chart__container {
    width: 58vw;
    height: 29vw;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    margin-top: 12rem;
  }

  .chart__container {
    width: 86vw;
    height: 35vw;

    position: relative;
  }
}
