.card__container {
  margin-top: 5rem;
  display: flex;
  gap: 8rem;
}

.card {
  padding: 1rem 2rem;
  flex: 1 1 15rem;
  background-color: var(--card-light-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card__text {
  justify-self: start;
  font-weight: 200;
}

.card__number {
  text-align: end;
  letter-spacing: 3px;
}

@media screen and (max-width: 800px) {
  .card {
    padding: 1rem 1.3rem;
  }

  .card__container {
    gap: 3rem;
  }
}
