.modal {
  height: 60vh;
}

.title {
  font-size: 3.2rem;
  text-align: center;
  margin: 2rem 0;
}

.subtitle {
  text-align: center;
  margin: 2rem;
}

.info {
  text-align: center;
  margin-bottom: 8rem;
}

.name {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.img {
  border-radius: 20px;
  margin-bottom: 1rem;
}

.sample {
  border-radius: 20px;
  font-size: 3rem;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  background-color: rgb(59, 107, 240);
  margin-bottom: 1rem;
}

.email {
  font-size: 2.5rem;
}

.btn__container {
  text-align: center;
}

.btn {
  font-size: 2.5rem;
  padding: 1rem 2rem;
  background-color: var(--btn-bg);
  margin: 0 4rem;
}

.btn:hover {
  background-color: var(--btn-hover-bg);
}

@media screen and (max-width: 1100px) {
  .modal {
    width: 50vw;
    height: 50vh;
  }
}

@media screen and (max-width: 800px) {
  .modal {
    width: 60vw;
  }
}

@media screen and (max-width: 700px) {
  .modal {
    width: 70vw;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    width: 90vw;
  }
}
