.item {
  overflow-y: scroll;
}

.item__container {
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  gap: 20px; /* fix flex gap */
}

.item__line {
  height: 1px;
  width: 95%;
  border: none;
  background-color: var(--line-list);
  border-radius: 10px;
  align-self: center;
}

.item__line--long {
  width: 99%;
}
