.modal {
  height: 93%;
  text-align: center;
}

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.form {
  width: 75%;
  margin: 0 auto;
}

.container {
  position: relative;
  margin-bottom: 3rem;
}

.input__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.input {
  width: 80%;
  font-size: 2rem;
}

.label {
  text-align: left;
  font-size: 2rem;
}

.warning {
  bottom: -2.5rem;
  font-size: 1.4rem;
  width: 150%;
  text-align: start;
}

.icon__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  height: 47vh;
  overflow-y: scroll;
}

.icon {
  font-size: 2rem;
  padding: 0.7rem 1.1rem 0.2rem 1.1rem;
  background-color: var(--add-main-category-icon-bg);
  color: var(--add-main-category-icon-color);
  border: 3px solid var(--add-main-category-icon-bg);
  border-radius: 8px;
}

.radio__container:hover .icon {
  color: var(--add-main-category-icon-hover-color);
}

.input--icon:checked ~ .icon {
  color: var(--add-main-category-icon-hover-color);
}

.input--icon:checked ~ .icon--expense {
  border: 3px solid var(--blue);
}

.input--icon:checked ~ .icon--income {
  border: 3px solid var(--pink);
}

/* occupy whole incon container */
.input--icon {
  height: 100%;
}

.btn__container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 5rem;
}

.btn {
  font-size: 2rem;
  letter-spacing: 1.5px;
  padding: 1rem 2.5rem;
}

@media screen and (max-width: 1000px) {
  .modal {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .modal {
    width: 55%;
  }
}

@media screen and (max-width: 700px) {
  .modal {
    width: 65%;
  }
}
