.menu {
  flex: 1 1 25%;
  border-right: 1px solid var(--line-low);
}

.ul {
  /* display: flex;
  flex-direction: column; */
  display: grid; /* fix flex gap */
  gap: 3rem;
  margin-top: 5rem;
}

.list {
  list-style: none;
  font-size: 2rem;
  padding: 1.5rem 0 1.5rem 2rem;
  width: 100%;
  cursor: pointer;
}

.list:hover {
  background-color: var(--setting-munu-hover-bg);
}

.active {
  background-color: var(--setting-munu-hover-bg);
}

@media screen and (max-width: 600px) {
  .list {
    font-size: 1.6rem;
    padding: 1.5rem 0 1.5rem 1.2rem;
  }
}
