.menu {
  flex: 1 1 25%;
  border-right: 1px solid var(--line-low);
  /* padding-right: 2rem; */
}

.unorder {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 5rem;
}

.list {
  list-style: none;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.5rem 0 1.5rem 2rem;
  width: 100%;
  cursor: pointer;

  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
}

.list:hover {
  background-color: var(--setting-munu-hover-bg);
}

.active {
  background-color: var(--setting-munu-hover-bg);
}

@media screen and (max-width: 600px) {
  .list {
    font-size: 1.6rem;
    padding: 1.5rem 0 1.5rem 1.2rem;
  }
}
