.card {
  position: relative;
}

.title__section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title {
  font-size: 2.8rem;
}

.subTitle {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.img__container {
  width: 100%;
  margin-bottom: 1rem;
}

.img {
  width: 100%;
  max-height: 22rem;
  object-fit: cover;
}

.refresh {
  font-size: 3rem;
  fill: var(--btn-ft);
}

.btn__text {
  bottom: -3rem;
}

.source {
  color: var(--font-source);
  display: block;
  text-align: end;
  font-size: 1.3rem;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .img {
    max-height: 40rem;
  }

  .subTitle {
    font-size: 2rem;
  }
}
