.chart {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr;

  justify-content: stretch;
  gap: 2rem;
  padding: 2rem;
}

.chart__noData {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart__noData p {
  text-transform: capitalize;
  font-size: 3rem;
}
