.chart {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  justify-content: stretch;
  gap: 2rem;
  padding: 2rem;
}

.chart__description {
  font-size: 3rem;
  text-align: center;
}

.option__container {
  height: 100%;
  background-color: var(--card-dark-bg);
  border-radius: 10px;
}

.btn {
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  background-color: var(--btn-main-bg);
  color: var(--bg);
  display: none;
}

.btn__text {
  width: 130%;
  bottom: -6rem;
  font-size: 2rem;
}

.backdrop {
  display: none;
}

@media screen and (max-width: 900px) {
  .chart {
    display: block;
    position: relative;
    padding: 0;
  }

  .chart__description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
  }

  .btn {
    display: inline-block;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn--chart {
    bottom: 8%;
  }

  .option__container {
    display: none;
  }

  .backdrop {
    display: block;
    z-index: 50;
  }

  .option__container--show {
    width: 40vw;
  }
}

@media screen and (max-width: 700px) {
  .option__container--show {
    width: 50vw;
  }
}

@media screen and (max-width: 500px) {
  .option__container--show {
    width: 60vw;
  }
}

.option__container--show {
  display: block;
  z-index: 100;
  height: 90%;
}
