.account {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding: 2rem;

  /* justify-content: stretch; */
  /* height: 100%; */

  width: 100%;
}

@media screen and (max-width: 1200px) {
  .account {
    display: block;
  }
}

@media screen and (max-width: 501px) {
  .account {
    padding: 2rem 0;
  }
}
