.input__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.input {
  width: 65%;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 2rem;
  background-color: var(--search-input-bg);

  transition: all 1s linear;
  -webkit-transition: all 0.25s linear;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-left: -3rem;
  fill: var(--search-icon);

  transition: all 1s linear;
  -webkit-transition: all 0.25s linear;
}

.input:focus,
.input:active {
  width: 70%;
}

.btn__container {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem auto;
}

.btn {
  text-transform: capitalize;
  font-size: 1.5rem;

  /* border: var(--btn-border); */

  color: var(--font-low);
  transform: translateY(-5px);
  box-shadow: 8px 8px var(--btn-arrow);

  padding: 0.8rem 2.2rem;
  border-radius: 10px;

  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn:hover {
  color: var(--font-normal);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0px 0px transparent;
}

.btn__icon {
  font-size: 1.5rem;
}

.btn--filter {
  display: none;
}

@media screen and (max-width: 900px) {
  .btn--filter {
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .btn__container {
    width: 80%;
    gap: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .btn {
    gap: 0;
    padding: 0.8rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  .btn__container {
    width: 95%;
  }
}
