.chart__section {
  margin-top: 8rem;
  height: 40rem;
}

.title__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.label {
  font-weight: 600;
  letter-spacing: 1.2px;
  font-size: 2.75rem;
}

.chart__container {
  width: 30rem;
  height: 20rem;
  margin-top: 5rem;
}

.chart--pie {
  height: 25rem;
}

.select {
  font-size: 1.7rem;
}

@media screen and (max-width: 800px) {
  .chart__section {
    margin-top: 4rem;
  }

  .title__section {
    padding: 0 3rem;
  }

  .chart__container {
    width: 40rem;
    height: auto;

    margin: 4rem auto 0 auto;
  }

  .chart--pie {
    height: 30rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .select {
    font-size: 2rem;
  }
}
