.warning {
  display: block;
  position: absolute;
  letter-spacing: 1px;
  color: var(--red);
  cursor: default;
  opacity: 0;
  transform: translateY(-1rem);
}

.warning--show {
  opacity: 1;
  transform: translateY(0);
}
