.radio__container {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  position: absolute;
  z-index: 100;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.inside {
  height: 70%;
  width: 70%;
  border-radius: 100%;
}
