.form {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  margin-top: 3rem;
  max-height: 90%;
  overflow-y: scroll;
}

.form__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category {
  display: flex;
  gap: 5rem;

  margin-bottom: 3rem;
}

.first__option {
  display: flex;
  justify-content: space-around;
}

.radio__container {
  color: var(--font-low);
}

.radio__container:hover {
  color: var(--font-normal);
}

.input:checked ~ .labelPink {
  background-color: var(--pink);
  color: #ececec;
}

.input:checked ~ .labelBlue {
  background-color: var(--blue);
  color: #ececec;
}

.label {
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  margin-left: 1rem;
  letter-spacing: 1.2px;

  padding: 0.5rem 1rem;
  border-radius: 10px;

  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.subtitle__container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.subtitle {
  font-size: 2.3rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.remove__description {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.container {
  margin-bottom: 3rem;
}

.data__container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
}

.data {
  letter-spacing: 1.2px;
  background-color: var(--setting-category-data-bg);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
}

/* .data--animation {
  animation: showing 500ms ease-out;
} */

.data--remove {
  padding: 0.5rem 0 0.5rem 1rem;
}

.data--active--expense {
  background-color: var(--blue);
}

.data--active--income {
  background-color: var(--pink);
}

.btn__container {
  margin-top: 5rem;
  display: flex;
  gap: 3rem;
}

.btn {
  background-color: var(--btn-form-bg);
  color: var(--btn-ft);
  text-transform: uppercase;
  padding: 1rem 2rem;
  letter-spacing: 1px;

  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.btn:hover {
  background-color: var(--btn-form-hover-bg);
}

.btn--remove {
  font-size: 1.5rem;
  color: var(--font-normal);
  padding: 0 1rem;
}

.btn--remove:hover {
  color: var(--btn-form-hover-bg);
}

.input {
  display: none;
}

/* .bump {
}

@keyframes showing {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */
