.setting {
  position: relative;
  height: 100%;
  width: 100%;
}

.container {
  height: 85%;
  width: 85%;
  position: absolute;
  background-color: var(--card-light-bg);
  border-radius: 10px;
  display: flex;
  gap: 1rem;
}
