.container {
  margin-top: 3rem;
}

.subtitle {
  font-size: 2.3rem;
}

.radio__container {
  display: flex;
  gap: 6rem;
  margin-top: 1.5rem;
}

.label {
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  border: var(--btn-disabled-border);
  color: var(--btn-disabled-ft);
  border-radius: 10px;
  padding: 1rem 2rem;
}

.input:checked ~ .light {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--white);
}

.input:checked ~ .dark {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}
