.time {
  margin-top: 3rem;
}

.subTitle--blue {
  color: var(--blue);
  margin-bottom: 0.2rem;
}

.subTitle--green {
  color: var(--green);
  margin-bottom: 0.2rem;
}

.time__container {
  margin-bottom: 1rem;
}

.time__container--ending {
  margin-bottom: 5rem;
  transition: all 0.5s ease-in-out;
}

.time__container label {
  font-size: 2rem;
  display: block;

  margin-bottom: 0.8rem;
  text-transform: capitalize;
}

.time__input {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0.8rem 1.2rem;
  background-color: var(--select-bg);
  color: var(--select-ft);
}

.time__input:focus,
.time__input:active {
  outline: 0.05rem solid var(--sidebar-active);
}

.time__input--invalid,
.time__input--invalid:focus,
.time__input--invalid:active {
  outline: 0.05rem solid var(--red);
}

.warning {
  width: 20rem;
  font-size: 1.2rem;
}
