.modal {
  height: 60vh;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 2px;
}

.title__last {
  display: flex;
  justify-content: center;
  letter-spacing: 3.5px;
}

.title__icon {
  color: rgb(66, 66, 245);
  height: 100%;
  margin: auto 4px auto 1px;
}

.description {
  font-size: 2rem;
  transform: translateY(3rem);
}

.btn {
  background-color: var(--btn-bg);
  padding: 1.5rem;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.btn:hover {
  background-color: var(--btn-hover-bg);
}

.btn__text {
  display: none;
}

.icon {
  margin-right: 1rem;
  font-size: 3rem;
}

@media screen and (max-width: 800px) {
  .modal {
    width: 70vw;
  }
}
