.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  position: relative;
}

.item__info {
  display: flex;
  /* gap: 3rem; */
  align-items: center;

  /* inherit to children (subcategory), so that we don't need give another className */
  font-size: 1.8rem;
}

.item__category {
  border-radius: 10px;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  margin-right: 3rem; /* fix flex gap */
}

.item__category--blue {
  border: 2px solid var(--blue);
}

.item__category--pink {
  border: 2px solid var(--pink);
}

.item__time {
  color: var(--font-low);
  font-size: 1.2rem;
}

.item__description {
  font-size: 1.6rem;
  margin-left: 3rem; /* fix flex gap */
}

.item__description--long {
  cursor: pointer;
  position: relative;
}

.description__text--hover {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -45px;
  width: 23rem;
  color: var(--white-1);
  font-weight: 500;
  padding: 0.7rem;
  background-color: var(--gray);
  border-radius: 3px;
  opacity: 0.7;
  text-align: center;
}

.item__description--long:hover .description__text--hover {
  display: inline-block;
}

.description__text {
  opacity: 0.3;
  display: none;
  margin-left: 3rem; /* fix flex gap */
}

/* price + more btn section
use pseudo-class to avoid naming another className
*/
.item div:last-child {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

.item__price {
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  margin-right: 1rem; /* fix flex gap */
}

.btn__container {
  background-color: var(--btn-delete-edit-bg);
  border-radius: 10px;
}

.btn__icon {
  padding: 0.8rem 1rem;
}

.btn__more {
  font-size: 2rem;
  fill: var(--btn-color);
  color: var(--btn-color);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.btn__more:hover {
  background-color: transparent;
}

.vertical {
  border-right: 1px solid var(--line-list);
}

.icon {
  transform: translateY(2px);
  margin: 0 1px;
  font-size: 1.5rem;
}

@media screen and (max-width: 1300px) {
  .item__description--long {
    display: none;
  }

  .description__text {
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s linear;
  }

  .description__text:hover {
    opacity: 1;
  }
}
