.modal {
  height: 85%;
  width: 40%;

  display: none;
}

.backdrop {
  display: none;
}

/* only show the modal when the size of window is less then 800px */
@media screen and (max-width: 900px) {
  .modal {
    display: block;
  }

  .backdrop {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .modal {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    width: 80%;
  }
}
