.title {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
  letter-spacing: 5px;
}

.list__container {
  min-height: 70%;

  margin-top: 4.5rem;
}

.list {
  overflow-y: unset;
}

.scroll {
  max-height: 60vh;
  overflow-y: scroll;
}

.btn {
  font-size: 2rem;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  width: 30%;
}

.btn:hover {
  background-color: var(--btn-hover-bg);
}

.btn__container {
  display: flex;
  justify-content: space-around;
}

.empty {
  text-align: center;
  font-size: 3rem;
}

@media screen and (max-width: 1100px) {
  .modal {
    width: 47%;
  }
}

@media screen and (max-width: 1000px) {
  .modal {
    width: 50%;
    height: 80%;
  }
}

@media screen and (max-width: 800px) {
  .modal {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    width: 75%;
  }
}
