.stock {
  display: block;
  padding: 3rem;
  width: 100%;
}

@media screen and (max-width: 501px) {
  .stock {
    padding: 2rem 0;
  }
}

.title {
  display: flex;
}

.tabContent {
  margin-top: 1rem;
}


