.modal {
  height: 35vh;
}

.title {
  text-align: center;
  color: var(--red);
  margin: 3rem;
  font-size: 3.5rem;
}

.text {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1px;
  width: 90%;
  margin: 0 auto;
}
