.modal {
  height: 95vh;
}

.title__container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.title--icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-size: 2rem;

  width: 85%;
  margin: 3rem auto 1rem auto;
  text-align: center;
}

.text__category {
  font-size: 3.5rem;
  font-weight: 800;
  font-style: italic;
  border-bottom: 1px solid var(--font-normal);
}

.icon {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.description {
  font-size: 1.4rem;
  color: var(--red);
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.warning {
  margin: 0 5px;
  transform: translateY(1px);
}

.list {
  margin-top: 3rem;
  height: 50%;
}

.overflow {
  overflow-y: scroll;
}

.btn__container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.btn {
  font-size: 2rem;
  letter-spacing: 1.5px;
  padding: 1rem 2.5rem;
  border: none;
  cursor: pointer;
  margin-right: 7rem; /* fix flex gap */
  background-color: var(--btn-bg);
}

.btn:hover {
  background-color: var(--btn-hover-bg);
}

/* fix flex gap */
.btn--right {
  margin-right: -1rem;
}

@media screen and (max-width: 1200px) {
  .modal {
    width: 45%;
  }
}

@media screen and (max-width: 1000px) {
  .modal {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .modal {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .modal {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .modal {
    width: 80%;
  }
}
