.modal {
  height: 80vh;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 2px;
}

.title__last {
  display: flex;
  justify-content: center;
  letter-spacing: 3.5px;
}

.title__icon {
  color: rgb(66, 66, 245);
  height: 100%;
  margin: auto 4px auto 1px;
}

.btn--container {
  width: 40%;
  height: 45%;
}

.btn.btn--first {
  margin-top: 2.5rem;
}

.btn {
  background-color: var(--btn-bg);
  padding: 1.5rem;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.loading--container {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  position: relative;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
}

.btn:hover {
  background-color: var(--btn-hover-bg);
}

.btn__text {
  display: none;
}

@media screen and (max-width: 800px) {
  .modal {
    width: 70vw;
  }
}
