.card {
  height: 100%;
}

.close {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  font-size: 2.2rem;
  cursor: pointer;
  display: none;
}

.btn__text {
  font-size: 1.7rem;
  bottom: -3rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form__title {
  margin-bottom: 1.5rem;
}

.scroll {
  height: 70vh;
  overflow-y: scroll;
}

.btn {
  width: 100%;
  font-size: 1.8rem;
  margin-top: 1rem;
}

@media screen and (max-width: 900px) {
  .close {
    display: inline-block;
  }
}
