.card {
  height: 100%;
}

.close {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  font-size: 2.2rem;
  cursor: pointer;
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form__title {
  margin-bottom: 1.5rem;
}

.scroll {
  height: 70vh;
  overflow-y: scroll;
}

.btn {
  width: 100%;
  color: var(--btn-disabled-color);
  border: var(--btn-disabled-border);
  cursor: not-allowed;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.btn--active {
  color: var(--btn-color);
  border: var(--btn-active-border);
  background-color: var(--btn-bg);
  cursor: pointer;
}

.btn--active:hover {
  background-color: var(--btn-hover-bg);
}

@media screen and (max-width: 900px) {
  .close {
    display: inline-block;
  }
}
