.sidebar {
  background-color: var(--sidebar-bg);
  flex: 1 1 6.25%;
  min-width: 8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
}

.logo {
  font-size: 3.6rem;
  color: var(--logo);
}

a {
  margin: 5rem 0 5rem 0;
  display: inline-block;
}

.sidebar__item {
  list-style: none;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  gap: 3rem;
}

.sidebar__icon {
  width: 3rem;
  height: 3rem;
  fill: var(--sidebar-icon);
}

.sidebar__info {
  justify-self: flex-end;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.sidebar__info p {
  margin-bottom: 0.5rem;
}

.user__container {
  position: relative;
}

.user {
  width: 35%;
  border-radius: 50%;
  cursor: pointer;
}

.logout {
  position: absolute;
  margin-left: 1rem;
}

.btn {
  background-color: var(--btn-main-bg);
  color: var(--bg);
}

.btn:hover {
  background-color: var(--btn-main-bg);
}

@media screen and (max-width: 1000px) {
  .sidebar {
    position: absolute;
    z-index: -50;
    opacity: 0;
    transform: translateX(-200px);
    transition: all 0.3s ease-in-out;
  }

  .sidebar--show {
    opacity: 1;
    transform: translateX(0);
    z-index: 50;
  }
}

@supports (gap: 3rem;) {
  .sidebar {
    background-color: red;
  }
}
