.option {
  padding: 1rem 2rem;
}

.option__container {
  overflow-y: scroll;
  height: 85vh;
  margin-top: 2rem;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  z-index: -100;
  cursor: pointer;
  display: none;
}

.btn__text {
  font-size: 1.7rem;
  bottom: -3rem;
}

@media screen and (max-width: 900px) {
  .option {
    position: relative;
  }

  .close {
    display: inline-block;
    z-index: 50;
  }
}
