.day {
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.date {
  border: var(--calendar-weekly-border);
  border-radius: 10px;
  height: 4.5rem;
  width: 4.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.date--others:hover,
.date--others:active,
.selected {
  background-color: var(--calendar-weekly-bg-hover);
  border: var(--calendar-weekly-border-hover);
}

.active {
  background-color: var(--calendar-weekly-bg-active);
  color: var(--calendar-weekly-color-active);
  border: var(--calendar-weekly-border-active);
}
