.daily {
  grid-column: 1/2;
  height: 100%;
  padding: 0 3rem;
}

.title__container {
  margin: 0 3rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.btn__container {
  /* gap: 4rem; */
}

/* fix flex gap */
.btn__container button + button {
  margin-left: 4rem;
}

.btn--main {
  color: var(--bg);
  background-color: var(--btn-main-bg);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem 1rem;
}

.btn--main p {
  font-size: 1.5rem;
  position: relative;
}

.btn--arow {
  font-size: 2rem;
  height: 35%;
  align-self: center;
  justify-self: center;
  background-color: var(--btn-arrow-bg);
  transform: translateY(-5px);
  box-shadow: var(--btn-arrow-box-shadow);
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
}

.btn--arow:active {
  transform: translateY(0);
  box-shadow: 0px 0px transparent;
}

.btn__text {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 10rem;
  bottom: -4rem;
}

.btn__text--main {
  font-size: 1.5rem;
  width: 15rem;
  bottom: -3.5rem;
  padding: 0.5rem;
}

.calendar__container {
  height: 10rem;
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3rem 4rem;
}

.item {
  height: 53vh;
  font-size: 1.5rem;
  overflow-y: scroll;
}

.item__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item__line {
  height: 1px;
  width: 95%;
  border: none;
  background-color: var(--line-list);
  border-radius: 10px;
  align-self: center;
}

.noData {
  flex-direction: column;
  margin-top: 5rem;
}

.noData p {
  font-size: 3rem;
  letter-spacing: 1.2px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1500px) {
  .item {
    height: 55vh;
  }
}

@media screen and (max-width: 1000px) {
  .daily {
    grid-column: 1/2;
    padding: 0 1rem 0 0;
  }

  .item {
    height: 60vh;
  }
}

@media screen and (max-width: 800px) {
  .btn--icon {
    display: inline-block;
  }

  .btn__text {
    font-size: 1.6rem;
  }

  .btn--main p {
    display: none;
  }
}
