.form {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 3rem;
}

.label {
  display: block;
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.input {
  width: 60%;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.btn {
  align-self: flex-start;
  letter-spacing: 1.2px;
  font-size: 1.5rem;
  padding: 1.2rem 2rem;
}

.warnning {
  margin-top: 8px;
  font-size: 1.3rem;
}

.color {
  width: 10%;
  padding: 0.5px 3px;
  background-color: var(--color-input-bg);
}
