.btn--icon {
  display: none;

  width: 3.6rem;
  height: 3.6rem;
}

.icon {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -10;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .btn--icon--news {
    display: inline-block;
  }
}

@media screen and (max-width: 800px) {
  .btn--icon {
    display: inline-block;
  }
}
