@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* black 4 #181818 */

/* --black-4: #121212; */

:root {
  /* //////////////////////////////////////////////// */
  --blue: rgb(100, 141, 255);

  /* //////////////////////////////////////////////// */
  --pink: rgb(245, 103, 119);

  /* //////////////////////////////////////////////// */
  --green: rgba(39, 196, 152, 255);

  /* //////////////////////////////////////////////// */
  --purple--normal: rgb(140, 94, 248);

  /* //////////////////////////////////////////////// */
  --black: rgb(0, 0, 0);
  --black-1: rgb(59, 59, 59);
  --black-2: rgba(255, 255, 255, 0.3);
  --black-3: rgb(32, 32, 32);
  --black-4: #161616;
  --black-5: #1a1a1a;
  --black-6: #252525;
  --black-7: #303030;
  --black-8: rgba(0, 0, 0, 0.5);
  --black-9: rgb(37, 37, 37);
  --black-10: #1a1a1ab2;

  /* //////////////////////////////////////////////// */
  --white: rgba(252, 252, 252, 1);
  --white-1: rgb(245, 245, 245);
  --white-2: rgba(252, 252, 252, 0.5);
  --white-3: rgb(225, 225, 225);
  --white-4: rgb(240, 240, 240);

  /* //////////////////////////////////////////////// */
  --gray: rgb(85, 85, 85);
  --gray-1: rgba(169, 169, 169, 0.822);
  --gray-2: rgb(214, 214, 214);
  --gray-3: rgb(187, 187, 187);
  --gray-4: rgba(255, 255, 255, 0.192);
  --gray-5: rgb(200, 200, 200);
  --gray-6: rgb(75, 75, 75);
  --gray-7: rgb(105, 105, 105);
  --gray-8: rgb(131, 131, 131);
  --gray-9: rgba(112, 112, 112, 0.719);

  /* //////////////////////////////////////////////// */
  --red: rgb(255, 78, 78);
}

.dark {
  --bg: var(--black-4);

  /* //////////////////////////////////////////////// */
  --card-light-bg: var(--black-1);
  --card-dark-bg: var(--black-7);

  /* //////////////////////////////////////////////// */
  --font-normal: var(--white);
  --font-low-lighter: var(--white-2);
  --font-low: var(--black-2);
  --font-source: var(--white-2);

  /* //////////////////////////////////////////////// */
  --calendar-current-bg: var(--white-1);
  --calendar-current-ft: var(--black);
  --calendar-hover-bg: var(--black-3);

  --calendar-weekly-border: 1.5px solid var(--white);
  --calendar-weekly-hover-border: 1.5px solid var(--gray);
  --calendar-weekly-active-border: 1.5px solid transparent;
  --calendar-weekly-active-bg: var(--gray-1);
  --calendar-weekly-active-color: var(--black);

  /* //////////////////////////////////////////////// */
  --btn-color: var(--white);
  --btn-bg: var(--black-10);
  --btn-hover-bg: var(--white);
  --btn-active-border: 1px solid transparent;
  --btn-disabled-color: var(--gray-4);
  --btn-disabled-border: 1px solid var(--gray-4);
  --btn-main-bg: var(--gray-2);
  --btn-eye: var(--gray-3);
  --btn-form-bg: var(--black-5);
  --btn-form-hover-bg: var(--black);
  --btn-delete-edit-bg: var(--black-1);
  --btn-hover-bg: var(--black);
  --btn-arrow-bg: var(--black-9);
  --btn-arrow-box-shadow: 5px 5px var(--black);

  /* //////////////////////////////////////////////// */
  --input-bg: var(--black-5);
  --input-ft: var(--white);
  --input-outline-focus-active: 0.5px solid var(--white-1);
  --input-outline-invalid: 0.5px solid var(--red);

  /* //////////////////////////////////////////////// */
  --checkbox-active: var(--white-1);
  --checkbox-passive: var(--white-2);

  /* //////////////////////////////////////////////// */
  --line-list: var(--white-2);
  --line-low: var(--gray-4);

  /* //////////////////////////////////////////////// */
  --search-input-bg: var(--white-1);
  --search-icon: var(--gray);

  /* //////////////////////////////////////////////// */
  --sidebar-bg: var(--black-6);
  --sidebar-icon: var(--gray);
  --sidebar-active: var(--white);

  /* //////////////////////////////////////////////// */
  --logo: var(--white);

  /* //////////////////////////////////////////////// */
  --backdrop: var(--black-8);

  /* //////////////////////////////////////////////// */
  --setting-munu-hover-bg: var(--gray);
  --setting-category-data-bg: var(--gray-7);

  /* //////////////////////////////////////////////// */
  --add-main-category-icon-bg: var(--black-4);
  --add-main-category-icon-color: var(--gray);
  --add-main-category-icon-hover-color: var(--white);

  /* //////////////////////////////////////////////// */
  --focus-outline: 1px dotted var(--gray);

  /* //////////////////////////////////////////////// */
  --icon-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.light {
  --bg: var(--white-3);

  /* //////////////////////////////////////////////// */
  --card-light-bg: var(--white-4);
  --card-dark-bg: var(--white-1);

  /* //////////////////////////////////////////////// */
  --font-normal: var(--black-5);
  --font-low-lighter: var(--black-8);
  --font-low: var(--black-8);
  --font-source: var(--gray-8);

  /* //////////////////////////////////////////////// */
  --calendar-current-bg: var(--gray-5);
  --calendar-current-ft: var(--black);
  --calendar-hover-bg: var(--white);

  --calendar-weekly-border: 1.5px solid var(--black-4);
  --calendar-weekly-hover-border: 1.5px solid var(--black-7);
  --calendar-weekly-active-border: 1.5px solid transparent;
  --calendar-weekly-active-bg: var(--black-7);
  --calendar-weekly-active-color: var(--white-3);

  /* //////////////////////////////////////////////// */
  --btn-color: var(--black-9);
  --btn-bg: var(--gray-8);
  --btn-hover-bg: var(--gray-3);
  --btn-active-border: 1px solid transparent;
  --btn-disabled-color: var(--gray-1);
  --btn-disabled-border: 1px solid var(--gray-1);
  --btn-main-bg: var(--black-9);
  --btn-eye: var(--gray-8);
  --btn-form-bg: var(--gray-3);
  --btn-arrow-bg: var(--gray-2);
  --btn-arrow-box-shadow: 5px 5px 3px var(--gray-1);
  --btn-form-hover-bg: var(--gray);
  --btn-delete-edit-bg: var(--gray-3);

  /* //////////////////////////////////////////////// */
  --input-bg: var(--gray-2);
  --input-ft: var(--black-1);
  --input-outline-focus-active: 0.5px solid var(--black);
  --input-outline-invalid: 0.5px solid var(--red);

  /* //////////////////////////////////////////////// */
  --checkbox-active: var(--gray-6);
  --checkbox-passive: var(--gray-9);

  /* //////////////////////////////////////////////// */
  --line-list: var(--gray-1);
  --line-low: var(--gray-2);

  /* //////////////////////////////////////////////// */
  --search-input-bg: var(--white-1);
  --search-icon: var(--gray);

  /* //////////////////////////////////////////////// */
  --sidebar-bg: var(--white-1);
  --sidebar-icon: var(--gray-1);
  --sidebar-active: var(--black);

  /* //////////////////////////////////////////////// */
  --logo: var(--black-4);

  /* //////////////////////////////////////////////// */
  --backdrop: var(--black-8);

  /* //////////////////////////////////////////////// */
  --setting-munu-hover-bg: var(--gray-5);
  --setting-category-data-bg: var(--white);

  /* //////////////////////////////////////////////// */
  --add-main-category-icon-bg: var(--gray-2);
  --add-main-category-icon-color: var(--gray-8);
  --add-main-category-icon-hover-color: var(--black);

  /* //////////////////////////////////////////////// */
  --focus-outline: 1px dotted var(--gray);

  /* //////////////////////////////////////////////// */
  --icon-filter: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--font-normal);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--font-normal);
}

html {
  /* 
  1rem = 10px 
  because 1rem is 16px by default
  */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--font-normal);

  background-color: var(--bg);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center--position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--btn-hover-bg);
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.transition--25 {
  transition: all 0.25s linear;
}

.input {
  padding: 0.5rem 1rem;
  background-color: var(--input-bg);
  color: var(--input-ft);
  border: none;
  outline: none;
  border-radius: 5px;
}

.input:focus,
.input:active {
  outline: var(--input-outline-focus-active);
}

.input--invalid,
.input--invalid:focus,
.input--invalid:active {
  outline: var(--input-outline-invalid);
}

.btn--valid {
  color: var(--btn-color);
  background-color: var(--btn-bg);
  border: var(--btn-active-border);
  cursor: pointer;
}

.btn--valid:hover {
  background-color: var(--btn-hover-bg);
}

.btn--invalid {
  background-color: transparent;
  border: var(--btn-disabled-border);
  color: var(--btn-disabled-color);
  cursor: not-allowed;
}

.btn--invalid:hover {
  background-color: transparent;
}

.icon {
  width: 90%;
  height: 90%;

  min-width: 2.3rem;
  min-height: 2.3rem;

  filter: var(--icon-filter);
}

/* /////////////////////////// */
/* *** MEDIA QUERY *** */
/* /////////////////////////// */

/*
0 - 600px:              Phone
600 - 900px:            Tablet portrait
900 - 1200px:           Tablet landscape
1200 - 1800px:          what we were doing  
the base state of our website is built for that value range; there is no need to adjust it with media queries for the screen width range that it is already built for.
1800px + :              Big desktop
*/

@media screen and (min-width: 2500px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 1500px) {
  html {
    /* 
    1rem = 10px 
    because 1rem is 16px by default
    */
    font-size: 70%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

/* --white-normal: rgba(252, 252, 252, 1);
  --white-light: rgb(241, 241, 241);
  --white-light-mid: rgba(252, 252, 252, 0.5);
  --white-dark: rgba(252, 252, 252, 0.1);
  --white-dark-light: rgba(255, 255, 255, 0.363);


  --black-normal: rgb(0, 0, 0);
  --black-low: rgba(0, 0, 0, 0.5);
  --black-light-mid: #1a1a1a;
  --black-light: rgb(32, 32, 32);
  --black-background: #121212;
  --black-background-card-light: rgb(59, 59, 59);
  --black-background-card-dark: #303030;
  --black-boxShadow: #222222;
  --black: #121212;


  --gray: rgb(85, 85, 85);
  --gray-light: rgba(169, 169, 169, 0.822);
  --gray-lighter: rgb(187, 187, 187);
  --gray-light-low: rgba(255, 255, 255, 0.192); */

/* --shadow-light: 0 2rem 5rem rgba(60, 0, 0, 0.06); */
