.mainContent {
  flex: 15 1 90%;
}

.overlay {
  z-index: -5;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .overlay--show {
    opacity: 1;
    z-index: 10;
  }
}
